.navbar {
  width: 100%;
  border-bottom: 1px solid #ccc;

  /* position: fixed; */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  width: 1200px;
  margin: 0 auto;
}

.nav-logo {
  width: 200px;
  height: 60px;
  object-fit: cover;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  color: var(--color-grey);
}

.nav-menu li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--color-primary);
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 42px;
}

.nav-login-cart button {
  padding: 12px 36px;
  border-radius: 50px;
  border: 2px solid var(--color-grey);
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
}

.nav-login-cart button:active {
  background-color: #e3e3e3;
}

.nav-login-cart img {
  width: 32px;
  cursor: pointer;
}

.nav-cart-count {
  width: 20px;
  height: 20px;
  background-color: var(--color-primary);
  border-radius: 50%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: -28px;
  margin-left: -52px;
  pointer-events: none;
}

.up-to-icon {
  position: fixed;
  color: var(--white);
  background-color: var(--color-primary);
  padding: 20px;
  border-radius: 50%;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
  opacity: 0.8;
  z-index: 1;
}
